body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    background-image: url(https://www.pexels.com/video/purple-paint-dropping-on-the-water-7565628/);
}
contact{
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: blue;
    background-image: url(https://www.pexels.com/video/3d-animation-of-a-block-of-bouncing-square-tubes-16727477/) ;
}